.about-us {
    margin-bottom: 120px;
}

.about-us__box {
    display: flex;
    position: relative;
    column-gap: 100px;
    align-items: end;
}   

.about-us__box-img {
    position: absolute;
    right: -250px;
    bottom: -48px;
}

.about-us__box-imgs {
    position: relative;
    width: 577px;
    height: 579px;
}

.about-us__box-imgs img {
    position: absolute;
}

.about-us__box-img-1 {
    left: 0;
    top: 0;
}

.about-us__box-img-2 {
    bottom: -48px;
    right: -48px;
}

.about-us__content {
    max-width: 525px;   
}

.about-us__content-title {
    font-family: 'Qwitcher Grypen', cursive;   
    color: var(--accent-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.about-us__content-subtitle {
    text-transform: capitalize;
    font-size: 36px;
    color: #1F3347;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    margin-bottom: 30px;    
}

.about-us__content-text {
    color: #9DA1B4;
    line-height: 24px; /* 150% */
    margin-bottom: 20px;
}

.about-us__box-list {
    margin-bottom: 30px;
}

.box-list__item {
    color: #9DA1B4;
}

.box-list__item input {
    margin-right: 15px;
    user-select: none;
}

.about-us__content-statistics {
    margin-bottom: 50px;    
    display: flex;
    justify-content: space-between;
    gap: 20px;  
}

.num {
    color: #FFC814;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 77.778% */
}
.content-statistics__item-text {
    color: #9DA1B4;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 101px;
}

@media (max-width: 1300px) {
    .about-us__box-img {
        display: none;
    }
}

@media (max-width: 1232px) {
    .about-us__box-img-2 {
        display: none;
    }
    .about-us__box {
        column-gap: 30px;
    }   
}

@media (max-width: 902px) {
    .about-us__box {
        flex-direction: column-reverse;
        row-gap: 40px;
        align-items: center ;
    }   
    .about-us__box-img-2 {
        display: block;
    }
}

@media (max-width: 600px) {
    .about-us__content-subtitle {
        font-size: 28px;
        line-height: 38px; /* 133.333% */ 
        margin-bottom: 20px;
    }
    
    .about-us__content-text {
        font-size: 12px;
        color: #9DA1B4;
        line-height: 18px; /* 150% */
        margin-bottom: 15px;
    }

    .about-us__content-statistics {
        margin-bottom: 30px;      
    }
    .box-list__item {
        font-size: 12px;
        color: #9DA1B4;
        line-height: 18px; /* 150% */
        margin-bottom: 15px;
    }
    .num {
        font-size: 28px;
    }

    .content-statistics__item-text {
        font-size: 12px;
    }
    .about-us__box-img-1 {
        position:static;
    }
    .about-us__box-imgs {
        text-align: center;
       width: 300px;
       height: auto;
    }
    .about-us__box-img-2 {
        display: none;
    }
}

@media (max-width: 425px) {
    .box-list__item input:not(:disabled):active+label::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
      }
      
    .box-list__item input{
        margin-right: 8px;
    }
    .about-us__content-subtitle {
        font-size: 24px;
        line-height: 32px; /* 133.333% */ 
    }
    
    .about-us__content-text {
        font-size: 10px;
        line-height: 16px; /* 150% */
    }

    .about-us__content-statistics {
        margin-bottom: 20px;      
    }
    .box-list__item {
        font-size: 10px;
        line-height: 15px; /* 150% */
    }
    .num {
        font-size: 24px;
    }

    .content-statistics__item-text {
        font-size: 10px;
    }
}

@media (max-width: 370px) {
    .about-us__content-subtitle {
        font-size: 22px;
        line-height: 28px; /* 133.333% */ 
    }
    
    .about-us__content-text {
        font-size: 8px;
        line-height: 16px; /* 150% */
    }

    .about-us__content-statistics {
        margin-bottom: 15px;     
        column-gap: 10px; 
    }
    .box-list__item {
        font-size: 8px;
        line-height: 15px; /* 150% */
    }
    .num {
        font-size: 18px;
    }
    .content-statistics__item {
        width: 70px;
    }
    .content-statistics__item-text {
        font-size: 10px;
    }
}